<template>
	<audio autoplay muted><source src="/notification.mp3" type="audio/mpeg"></audio>
	<n-config-provider :locale="locale" :date-locale="dateLocale">
		<div class="masonry gap-8 p-8">
			<n-card :title="project.config.title || 'Projekt'" v-for="(project, projectIndex) in projects">
				<template #header-extra>
					<n-popover placement="bottom-end" trigger="click">
						<template #trigger>
							<n-button title="Projekteinstellungen"><n-icon><Settings /></n-icon></n-button>
						</template>
						<n-h3>Projekteinstellungen</n-h3>
						<n-form :model="project.config">
							<n-form-item path="title" label="Projektname:">
						    	<n-input v-model:value="project.config.title" />
							</n-form-item>
							<n-form-item path="budget" label="Wöchentliches Zeitbudget (in Stunden):">
								<n-input-number v-model:value="project.config.budget" :step="0.1" :min="0.1" :max="60" style="width: 6rem" />
							</n-form-item>
							<n-form-item path="moreIsBetter" label="Budgetüberschreitung:">
								<n-switch v-model:value="project.config.moreIsBetter">
									<template #checked>fördern</template>
									<template #unchecked><span class="text-black">verhindern</span></template>
								</n-switch>
							</n-form-item>
							<n-form-item path="pomodoro" label="Timer für Pomodoro (in Minuten):" :show-feedback="false">
								<n-grid :cols="3" :x-gap="12">
									<n-form-item-gi path="pomodoro.work" label="Arbeit:">
										<n-input-number v-model:value="project.config.pomodoro.work" :min="1" :max="180" style="width: 6rem" />
									</n-form-item-gi>
									<n-form-item-gi path="pomodoro.shortBreak" label="Kurze Pause:">
										<n-input-number v-model:value="project.config.pomodoro.shortBreak" :min="1" :max="180" style="width: 6rem" />
									</n-form-item-gi>
									<n-form-item-gi path="pomodoro.longBreak" label="Lange Pause:">
										<n-input-number v-model:value="project.config.pomodoro.longBreak" :min="1" :max="180" style="width: 6rem" />
									</n-form-item-gi>
								</n-grid>
							</n-form-item>
						</n-form>
						<div class="text-right">
							<n-button class="mb-2" type="error" @click="projects.splice(projectIndex, 1)">Projekt löschen</n-button>
						</div>
					</n-popover>
				</template>
				<n-space justify="center">
					<n-progress type="circle" :color="project.config.moreIsBetter ? (project.status.worked >= project.config.budget ? themeVars.successColor : themeVars.warningColor) : (project.status.worked >= project.config.budget ? themeVars.warningColor : themeVars.successColor)" :percentage="project.status.worked * 100 / project.config.budget">
						<n-statistic :value="(project.status.worked - project.config.budget).toFixed(1).replace(/^(?!-)/, '+')">
							<template #suffix>h</template>
						</n-statistic>
					</n-progress>
				</n-space>
				<br>
				<n-alert :type="project.runningTimer.isBreak ? (project.runningTimer.status.percentage < 100 ? 'success' : 'info') : (project.runningTimer.status.percentage < 100 ? 'warning' : 'error')" v-if="project.runningTimer.start">
					<div class="flex items-center" style="height: 1rem">
						<n-progress v-if="project.runningTimer.status.percentage < 100" type="line" :color="project.runningTimer.isBreak ? themeVars.infoColor : themeVars.warningColor" :percentage="project.runningTimer.status.percentage" processing :show-indicator="false" />
						<div v-else class="mr-auto">
							<div v-if="!project.runningTimer.isBreak">
								Zeit für eine Pause!
								<n-button-group class="ml-1">
									<n-button type="primary" size="tiny" @click="timerStart(project.runningTimer, project.config.pomodoro.shortBreak * 60, true);">kurz</n-button>
									<n-button color="#666666" size="tiny" @click="timerStart(project.runningTimer, project.config.pomodoro.longBreak * 60, true);">lang</n-button>
								</n-button-group>
							</div>
							<div v-else>
								Weiter geht's!
							</div>
							<audio autoplay><source src="/notification.mp3" type="audio/mpeg"></audio>
						</div>
						<div class="ml-2 leading-tight whitespace-nowrap">
							{{ project.runningTimer.status.text }}
						</div>
					</div>
					<template #icon><n-icon><Timer /></n-icon></template>
				</n-alert>
				<template #footer>
					<!-- TODO: title attributes everywhere -->
					<div>
						<div class="mb-2 flex items-center" v-for="(task, taskIndex) in project.tasks">
							<n-checkbox class="mr-2" v-model:checked="task.done" @update:checked="task.done && task.running && timerStop()" />
							<n-input-group>
								<n-input
									type="text" size="small" placeholder=""
									clearable @clear="project.tasks.splice(taskIndex, 1)"
									@blur="!task.text.trim() && project.tasks.splice(taskIndex, 1)"
									@keydown="(e) => navigateTask(e, project, taskIndex)"
									:readonly="task.running"
									:class="{
										'input-done': task.done,
										'input-p1': task.text.trim().endsWith('!'),
										'input-p2': task.text.trim().endsWith('!!'),
										'input-p3': task.text.trim().endsWith('!!!'),
									}"
									v-model:value="task.text"
								/>

								<n-button type="primary" size="small" title="Aufgabe starten" v-if="!task.done && !running" @click="timerStart(project.runningTimer, project.config.pomodoro.work * 60); task.running = true"><n-icon><PlayFilledAlt /></n-icon></n-button>
								<n-button type="error" size="small" title="Aufgabe stoppen" v-else-if="!task.done && running && task.running" @click="timerStop()"><n-icon><StopFilledAlt /></n-icon></n-button>
								<n-button type="primary" size="small" title="Aufgabe starten" disabled v-else-if="!task.done"><n-icon><PlayFilledAlt /></n-icon></n-button>
							</n-input-group>
						</div>
					</div>
					<div class="flex items-center">
						<n-checkbox disabled class="mr-2 invisible" />
						<n-input-group>
							<n-input
								type="text" size="small" placeholder="Aufgabe anlegen"
								v-model:value="project.status.newTaskText"
								@keydown="e => e.code === 'Enter' ? createTask(project, e.target) : e.code === 'ArrowUp' ? navigateTask(e, project, 0) : null"
								:class="{
									'input-p1': project.status.newTaskText.trim().endsWith('!'),
									'input-p2': project.status.newTaskText.trim().endsWith('!!'),
									'input-p3': project.status.newTaskText.trim().endsWith('!!!'),
								}"
							/>
							<n-button size="small" title="Aufgabe anlegen" @click="createTask(project)"><n-icon><AddFilled /></n-icon></n-button>
						</n-input-group>
					</div>
				</template>
			</n-card>
			<n-card class="text-center p-4 create-project" :bordered="false" tabindex="0" @click="createProject()">
				<n-icon size="48" title="Projekt erstellen"><AddFilled /></n-icon>
			</n-card>
		</div>
	</n-config-provider>
</template>

<script setup lang="ts">
import "tailwindcss/tailwind.css";

import "vfonts/OpenSans.css";
import { AddFilled, Settings, Checkbox, CheckboxChecked, PlayFilledAlt, StopFilledAlt, Timer } from "@vicons/carbon";
import { NH3, NConfigProvider, NGrid, NGridItem, NFormItemGi, NInput, NInputGroupLabel, NAlert, NPopover, NStatistic, NButton, NButtonGroup, NIcon, NInputGroup, NCheckbox, NCard, NProgress, NSpace, NForm, NFormItem, NSwitch, NInputNumber } from "naive-ui";
import { deDE, dateDeDE, useThemeVars } from "naive-ui";

import { reactive, computed } from "vue";

const locale = deDE;
const dateLocale = dateDeDE;
const themeVars = useThemeVars();

const projects = reactive([]);
const running = computed(() => projects.findIndex(project => project.runningTimer.start && !project.runningTimer.isBreak) > -1);

if (localStorage.getItem("tibu-projects")) {
	const storedProjects = JSON.parse(localStorage.getItem("tibu-projects"));
	projects.splice(0, projects.length, ...storedProjects);
}
setInterval(() => {
	localStorage.setItem("tibu-projects", JSON.stringify(projects));
}, 5000);
window.addEventListener("unload", () => {
	localStorage.setItem("tibu-projects", JSON.stringify(projects));
});
window["tibuProjects"] = projects;

function createProject() {
	projects.push({
		config: {
			title: "Neues Projekt",
			budget: 10,
			moreIsBetter: true,
			pomodoro: {
				work: 25,
				shortBreak: 5,
				longBreak: 15,
			}
		},
		timeEntries: [],
		tasks: [],
		runningTimer: {
			start: null,
			seconds: 0,
			isBreak: false,
			status: {
				percentage: 0,
				text: "0:00"
			}
		},
		status: {
			newTaskText: "",
			worked: 0,
		},
	});
}

function createTask(project, position?) {
	if (!project.status.newTaskText.trim()) return;
	project.tasks.push({
		text: project.status.newTaskText,
		done: false,
		running: false,
	});
	project.status.newTaskText = "";
}
function navigateTask(e, project, i) {
	let parent = e.target.parentElement;
	while (!parent.classList.contains("flex")) parent = parent.parentElement;
	if (e.code === "Space" && e.ctrlKey) {
		setTimeout(() => parent.querySelector(".n-button").click());
	} else if (e.code === "Enter" && e.ctrlKey) {
		project.tasks[i].done = !project.tasks[i].done;
	} else if (e.code === "Enter") {
		if (!project.tasks[i].text.trim()) return;
		project.tasks.splice(i + 1, 0, {
			text: "",
			done: false,
			running: false,
		});
		setTimeout(() => {
			parent.nextElementSibling.querySelector(".n-input__input-el").focus();
		});
	} else if (e.code === "ArrowUp") {
		let previousSibling = parent.previousElementSibling;
		if (!previousSibling.classList.contains("flex")) previousSibling = previousSibling.lastElementChild;
		previousSibling.querySelector(".n-input__input-el").focus();
	} else if (e.code === "ArrowDown" || (e.code === "Delete" && e.ctrlKey)) {
		if (e.code === "Delete" && e.ctrlKey) {
			project.tasks[i].text = "";
		}
		if (!project.tasks[i].text.trim()) {
			parent = parent.parentElement;
			e.target.blur();
			setTimeout(() => {
				let nextSibling = parent.children[i] || parent.nextElementSibling;
				nextSibling.querySelector(".n-input__input-el").focus()
			});
		} else {
			let nextSibling = (parent.nextElementSibling || parent.parentElement.nextElementSibling);
			nextSibling.querySelector(".n-input__input-el").focus();
		}
	}
}

function timerStart(timer, seconds, isBreak = false) {
	timerStop();
	timer.seconds = seconds;
	timer.start = Date.now();
	timer.isBreak = isBreak;
	timerUpdate();
}
function timerStop() {
	let elapsedSeconds = 0;
	let timerStart = null;
	for (const project of projects) {
		if (project.runningTimer.start) {
			elapsedSeconds = (Date.now() - project.runningTimer.start) / 1000;
			timerStart = project.runningTimer.start;
			project.runningTimer.start = null;
			project.runningTimer.status.percentage = 0;
			project.runningTimer.status.text = "0:00 m";
		}
	}
	for (const project of projects) {
		const runningTask = project.tasks.find(x => x.running);
		if (runningTask) {
			runningTask.running = false;
			project.timeEntries.push({
				start: timerStart,
				seconds: elapsedSeconds,
				task: runningTask.text,
				tags: [], // TODO
			});
		}
	}
	timerUpdate();
}
function timerUpdate() {
	const startOfWeek = new Date();
	startOfWeek.setHours(4); startOfWeek.setMinutes(0); startOfWeek.setSeconds(0); startOfWeek.setMilliseconds(0);
	startOfWeek.setDate(startOfWeek.getDate() - (startOfWeek.getDay() === 0 ? 7 : startOfWeek.getDay()) + 1);
	for (const project of projects) {
		let worked = project.timeEntries.filter(x => x.start >= startOfWeek).reduce((p, c) => p + c.seconds, 0) / 3600;
		if (project.runningTimer.start) {
			const elapsedSeconds = (Date.now() - project.runningTimer.start) / 1000;
			project.runningTimer.status.percentage = elapsedSeconds * 100 / project.runningTimer.seconds;
			//const remainingSeconds = project.runningTimer.seconds - elapsedSeconds;
			if (elapsedSeconds >= 3600) {
				project.runningTimer.status.text =
					Math.floor(elapsedSeconds / 3600) + ":" +
					Math.floor(elapsedSeconds % 3600 / 60).toString().replace(/^(?=\d$)/, "0") + ":" +
					Math.floor(elapsedSeconds % 60).toString().replace(/^(?=\d$)/, "0") + " h";
			} else {
				project.runningTimer.status.text =
					Math.floor(elapsedSeconds / 60) + ":" +
					Math.floor(elapsedSeconds % 60).toString().replace(/^(?=\d$)/, "0") + " m";
			}
			
			worked += elapsedSeconds / 3600;
		}
		project.status.worked = worked;
	}
}
setInterval(() => timerUpdate(), 100);

</script>

<style>
html, body {
	min-height: 100vh;
}
body {
	background: url("https://source.unsplash.com/BXOXnQ26B7o/1280") no-repeat center center / cover;
}
#app {
	font-family: v-sans, sans-serif;
}
.n-card {
	box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.5) !important;
}
.n-card.create-project {
	 background: rgba(255, 255, 255, 0.2);
	 color: rgba(255, 255, 255, 0.4);
	 cursor: pointer;
}
.n-card.create-project:hover, .n-card.create-project:active, .n-card.create-project:focus {
	 background: rgba(255, 255, 255, 0.4);
	 color: rgba(255, 255, 255, 0.8);
}
.input-done input { text-decoration: line-through; }
.input-p1 input { font-weight: bold; }
.input-p2 input { color: rgb(217, 119, 6) !important; }
.input-p3 input { color: rgb(185, 28, 28) !important; }
.masonry {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: masonry;
}
@media (min-width: 768px) { .masonry { grid-template-columns: repeat(2, 1fr); } }
@media (min-width: 1280px) { .masonry { grid-template-columns: repeat(3, 1fr); } }
@media (min-width: 1536px) { .masonry { grid-template-columns: repeat(4, 1fr); } }
</style>
